
<template name="questions">
    <!--This is a helper to wait that the subscriptions are loaded from the server-->
    {{#if Template.subscriptionsReady}}
        <div class="list-group">
            {{#each questions}}
                {{>singleQuestion}}
            {{/each}}


            {{#if activeQuestion}}
                <hr>
                {{#with activeQuestion}}
                    {{> questionAnswer}}
                {{/with}}

            {{/if}}
        </div>
    {{/if}}
</template>

<template name="singleQuestion">
    <button type="button" class="list-group-item{{#if correctAnswer}} list-group-item-success {{/if}}" disabled={{correctAnswer}}>{{question}}
        <span class="badge">{{wrongAnswerCount}}</span>
    </button>
</template>
